*{
    margin: 0;
    padding: 0;
    font-variant: small-caps ;
}
.upnav a{
    padding: 3vw;
    color: rgb(255, 255, 255);
    /* font-variant: small-caps ; */
}

.upnav a:hover{
    color: chocolate;
}

.upnav{
    padding: 2vh ;
    color: rgb(245, 241, 0);
    font-size: 3vh;
    background: rgb(84, 81, 81);

}

.center{
    text-align: center;
}

h1{
    background-color: rgb(255, 225, 0);
    font-size:5vh;
    /* font-variant: small-caps ; */
}

h3{
    margin-top: 3%;
    margin-left: 2%;
    font-size: 4vw;
    margin-bottom: 3%;
   
}
footer{
    text-align: center;
    padding-top: 40%;
}

ul li{
    margin-left: 5%;
    font-size: 2vw;
    margin-top: 1%;
}

ul li a img{
    border: 3px solid black;
}


ul li a img:hover{
    border: 4px solid rgb(0, 0, 0);
    
}



body{
    /* background-attachment: fixed;
    background-image: url(https://i.natgeofe.com/n/4d7f8b2a-c354-4418-9b65-237d52271999/006-india-cultural-sites.jpg);
background-repeat:round; */
background-color: orange;

}